@mixin thumb {
  appearance: none;
  width: 1rem;
  background-color: unset;
  border: none;
}

mrd-range::part(slot-container) {
  border: 1px solid var(--mrd-color-outline);
  height: 2rem;
  background: var(
    --mrd-range-preview-background,
    var(--mrd-color-background-surface)
  );
}

.invisible-color-range {
  appearance: none;
  display: flex;
  flex: 1;
  height: 100%;

  &::-moz-range-thumb {
    @include thumb;
  }

  &::-webkit-slider-thumb {
    @include thumb;
  }

  &::-ms-thumb {
    @include thumb;
  }
}

.slider-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type='number'] {
  overflow: hidden;
  padding: 0.5rem;
  width: 4.5rem;
  border: 1px solid var(--mrd-color-outline);
  border-radius: 0.25rem;
  color: var(--mrd-color-background-on-base);

  &:hover,
  &:focus {
    transition: all var(--mrd-transition-default);
    border-color: var(--mrd-color-primary-base);
  }
}
