.color-input-container {
  --mrd-swatch-size: 5rem;

  height: var(--mrd-swatch-size);
  z-index: 1;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: var(--mrd-border-radius-100);
  border: 1px solid var(--mrd-color-outline);
  background: repeating-conic-gradient(#888 0% 25%, #bbb 0% 50%) 0 0 / 10px 10px;

  & mrd-button {
    position: absolute;
    inset-block-end: calc(var(--mrd-space-200) + var(--mrd-space-50));
    inset-inline-end: var(--mrd-space-200);
    opacity: 0.9;
    z-index: 2;
  }
}

mrd-button.save-detach-button {
  &.add-mode.detaching {
    opacity: 0;
  }

  &::part(button) {
    padding: 0.35rem;
  }

  --mrd-icon-size: 1rem;

  &::part(slot) {
    visibility: hidden;
    width: 0;
    padding-inline: 0;
    overflow: hidden;
    white-space: nowrap;
    transform: translateX(5%);
  }

  &:hover,
  &:focus-visible {
    &::part(slot) {
      visibility: visible;
      width: auto;
      padding-inline: var(--mrd-space-100);
      overflow: hidden;
      white-space: nowrap;
      transform: translate(0);
      transition:
        transform var(--mrd-transition-fast),
        padding-inline var(--mrd-transition-fast);
    }
  }
}

.save-icon {
  height: 20px;
}

.color-input {
  appearance: none;
  width: 102%;

  @mixin color-swatch {
    border-color: var(--mrd-color-outline);
    border-width: 1px;
    border-radius: var(--mrd-border-radius-200);
    height: var(--mrd-swatch-size);
  }

  &::-webkit-color-swatch {
    @include color-swatch;
  }

  &::-moz-color-swatch {
    @include color-swatch;
  }

  &:focus-visible {
    outline: var(--mrd-color-primary-base) solid 2px;
    border-radius: 1rem;
    outline-offset: 4px;
    transition: all var(--mrd-transition-bounce);
  }
}

.info-container {
  display: inline-flex;
  gap: var(--mrd-space-400);
  justify-content: space-between;
  align-items: center;
  padding-block-end: var(--mrd-space-200);
}

.color-container {
  display: flex;
  flex-direction: column;
  gap: var(--mrd-space-100);
}

.selected-style-span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
