@use '@mordech/tokens/css/fonts/ui.css';
@use '@mordech/tokens/css/reset.css';
@use '@mordech/tokens/css/tokens.css';

html,
body {
  overflow: hidden;
  height: 100%;
}

:root {
  scroll-behavior: smooth;
  font-family: var(--mrd-font-family-ui);
  font-size: var(--mrd-font-size-0);
  background-color: var(--mrd-color-background-surface);
  height: 100%;
}

strong {
  font-weight: var(--mrd-font-weight-bold);
}

* {
  box-sizing: border-box;
}

my-app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-block-start: 1rem;
  background-color: var(--mrd-color-background-base);
  color: var(--mrd-color-background-on-base);
  margin: auto;
  max-width: 450px;
  box-shadow: 0 0 0 100vmax var(--mrd-color-background-base);
  clip-path: inset(-100vmax);

  height: 100%;
}

main,
header {
  padding-inline: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  box-sizing: border-box;
  box-shadow: 0 2px 2rem 0.75rem var(--mrd-color-background-base);
  overflow: visible;
  z-index: 1;
  gap: 1rem;
}

main {
  padding-block-start: 1.5rem;
  flex: 1;
  overflow: auto;
  gap: 2rem;
  scrollbar-width: thin;
}

main::-webkit-scrollbar {
  width: 0;
}

.header-container {
  display: flex;
  justify-content: flex-end;
}

.paints-container {
  margin-block-start: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
  gap: 0.75rem;
  align-items: center;
}

.controller-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  margin-block-start: auto;
  border-top: 1px solid var(--mrd-color-background-surface);
  display: flex;
  margin-inline: -0.5rem;
  padding-block: 0.5rem;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  font-size: var(--mrd-font-size-0);

  a {
    position: relative;
    padding: 0.25rem 0.5rem;
    color: var(--mrd-color-primary-base);
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      background-color: var(--mrd-color-background-on-base);
      border-radius: 0.5rem;

      transition: opacity var(--mrd-transition-default);
    }

    &:focus-visible {
      outline: var(--mrd-color-primary-base) solid 2px;
      border-radius: 0.5rem;
      outline-offset: 4px;
      transition: all var(--mrd-transition-bounce);
    }

    &:focus-visible::after,
    &:active::after {
      opacity: 12%;
    }

    @media (pointer: fine) {
      &:hover {
        &::after {
          opacity: 8%;
        }
      }
    }
  }
}

mrd-toggle-theme {
  --mrd-icon-size: 1.25rem;
}
