@import url('@mordech/tokens/css/fonts/ui.css');
@import url('@mordech/tokens/css/reset.css');
@import url('@mordech/tokens/css/tokens.css');

html,
body {
  overflow: hidden;
  height: 100%;
}

:root {
  scroll-behavior: smooth;
  font-family: var(--mrd-font-family-ui);
  font-size: var(--mrd-font-size-0);
  background-color: var(--mrd-color-background-surface);
  height: 100%;
}

strong {
  font-weight: var(--mrd-font-weight-bold);
}

* {
  box-sizing: border-box;
}

my-app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
  padding-block-start: 1.5rem;
  background-color: var(--mrd-color-background-base);
  color: var(--mrd-color-background-on);
  margin: auto;
  max-width: 450px;
  box-shadow: 0 0 0 100vmax var(--mrd-color-background-base);
  clip-path: inset(-100vmax);

  height: 100%;
}

main {
  padding-block: 0.5rem 2rem;
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: stretch;

  overflow-y: scroll;
}

header {
  display: flex;
  justify-content: space-between;
  padding-inline: 1.5rem;
}

h1 {
  font-size: var(--mrd-font-size-3);
  font-weight: var(--mrd-font-weight-medium);
}

mrd-range::part(slot-container) {
  border: 1px solid var(--mrd-color-background-surface);
  height: 2rem;
  background: var(
    --mrd-range-preview-background,
    var(--mrd-color-background-surface)
  );
}

.paints-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
  gap: 0.75rem;
  align-items: center;
}

hr {
  height: 1rem;
}
.controller-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.slider-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
