@import url(@mordech/tokens/css);

:root {
  --border-radius: 0.5rem;
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-background-on);
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family-ui);
}

html {
  height: 100%;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--color-background-surface);
  justify-content: space-between;
  padding: 0.5rem;
  padding-inline-start: 1rem;
  border-radius: var(--border-radius);
}

li button {
  opacity: 0;
}

li:hover button {
  opacity: 1;
  transition: opacity 350ms ease-out;
}

body {
  touch-action: manipulation;
  min-width: 20rem;
  fill: var(--color-primary-base);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: unset;
  margin-inline: auto;
  width: 35rem;
  min-height: 100%;
  min-height: 38rem;
  padding: 1.5rem;
  background-color: var(--color-background-base);
  color: var(--color-background-on);
  font-size: var(--font-size-1);
  overflow-y: scroll;
  overflow-x: hidden;
}

.custom-category-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h1 {
  font-size: var(--font-size-3);
  line-height: 1.15;
  max-width: 15ch;
}

details > summary {
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: var(--font-size-2);
  font-weight: var(--font-weight-medium);
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0.75rem;
  margin-inline: -2px;
  cursor: pointer;
  position: sticky;
  top: 0;
  background-color: var(--color-background-base);
  z-index: 1;
}

input[type='file'] {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

details > summary:focus-visible {
  outline: 2px solid var(--color-primary-base);
}

details {
  border: 2px solid var(--color-background-surface);
  border-radius: var(--border-radius);
  padding: 0.5rem;
}
.input-text-row {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
}

.custom-category-list.content {
  margin-block-start: 1rem;
}

input {
  display: inline-flex;
  width: 100%;
  border: 2px solid var(--color-background-surface);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--color-background-base);
  color: var(--color-background-on);
}

input:focus-visible {
  outline: 2px solid var(--color-primary-base);
  outline-offset: -2px;
}

input[type='file'] {
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

input[type='file']:focus-visible + label {
  outline: 2px solid var(--color-primary-base);
  outline-offset: 0.25rem;
}

button,
.btn {
  display: inline-flex;
  border: unset;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  min-width: 5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

button.primary,
.btn.primary {
  background-color: var(--color-primary-base);
  border: 2px solid;
  border-color: var(--color-primary-base);
  color: var(--color-primary-on);
  fill: var(--color-primary-on);
}

button.small,
.btn.small {
  padding: 0.5rem 0.75rem;
  font-size: var(--font-size-0);
}

button:focus-visible,
.btn:focus-visible {
  outline: 2px solid var(--color-primary-base);
  opacity: 1;
  outline-offset: 0.25rem;
}

button:disabled,
.btn:disabled {
  background-color: var(--color-disabled-container);
  color: var(--color-disabled-onContainer);
  fill: var(--color-disabled-onContainer);
  cursor: not-allowed;
}

.revert-btn {
  align-self: flex-end;
}

button.destructive,
.btn.destructive {
  background-color: var(--color-background-base);
  color: var(--color-error-base);
  fill: var(--color-error-base);
}

button.destructive:hover,
.btn.destructive:hover {
  background-color: var(--color-error-container);
  color: var(--color-error-onContainer);
  fill: var(--color-error-onContainer);
  opacity: 1;
}

.btn {
  white-space: nowrap;
  margin-inline-start: auto;
}

a,
link {
  color: var(--color-secondary-base);
  text-decoration: none;
  transition: color 250ms ease;
}

a:hover,
link:hover {
  color: var(--color-secondary-onContainer);
  text-decoration: underline;
}

a:focus-visible,
link:focus-visible {
  outline: 2px solid var(--color-primary-base);
  outline-offset: 0.25rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-top: auto;
  padding-block-start: 0.5rem;
  border-top: 2px solid var(--color-background-surface);
}

footer .lockup {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

button.icon.destructive {
  --color-background-base: var(--color-background-surface);
}
button.icon {
  min-width: unset;
  display: inline-flex;
  width: min-content;
  border-radius: 4rem;
  padding: 0.5rem;
}

.toggle-theme {
  opacity: 0.8;
  background-color: var(--color-background-base);
  color: var(--color-primary-base);
  fill: var(--color-primary-base);
}

.toggle-theme:hover {
  background-color: var(--color-background-surface);
  opacity: 1;
}

button.icon:focus-visible {
  outline: 2px solid var(--color-primary-base);
  outline-offset: 0.25rem;
}

button:hover,
.btn:hover {
  opacity: 0.8;
}

ul.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
  gap: 1.5rem 1rem;
  padding: 1rem;
  background-color: var(--color-background-surface);
  border-radius: var(--border-radius);
}

li.image {
  position: relative;
  padding: unset;
  background-color: unset;
  flex-direction: column;
}

li.image button {
  position: absolute;
  inset-block-end: -0.5rem;
  inset-inline-end: -0.5rem;
}

li.image > img {
  border-radius: 6rem;
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  overflow: hidden;
}

li.random > img {
  outline: 4px solid var(--color-secondary-container);
  outline-offset: -3.9px;
}

li.random::after {
  content: 'Random';
  position: absolute;
  inset-inline-end: -0.25rem;
  inset-block-start: 0;
  transform: rotate(12deg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary-container);
  color: var(--color-secondary-onContainer);
  font-size: var(--font-size-0);
  border-radius: 4px;
  padding: 0.25rem;
}

strong {
  font-variation-settings: 'wght' var(--font-weight-bold), 'wdth' 100;
}
