button {
  /* button reset */
  border: none;
  font: inherit;
  cursor: pointer;
  /* end button reset */

  margin-inline-end: -0.25rem;

  overflow: hidden;
  color: var(--mrd-color-background-on-base);
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  display: flex;
  position: relative;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--mrd-color-background-base);

  transition: outline-offset var(--mrd-transition-bounce);

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--mrd-color-background-on-base);
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 8%;
    }
  }

  &:focus-visible,
  &:active {
    &::after {
      opacity: 16%;
    }
  }

  &:focus-visible {
    outline: var(--mrd-color-primary-base) solid 2px;
    outline-offset: 2px;
  }
}
