button {
  /* button reset */
  border: none;
  font: inherit;
  cursor: pointer;

  /* end button reset */
  margin-inline-end: -0.25rem;
  overflow: hidden;
  color: var(--mrd-color-background-on-base);
  padding: 0.2rem 0.4rem;
  border-radius: 0.5rem;
  display: flex;
  position: relative;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--mrd-color-background-base);
  transition: outline-offset var(--mrd-transition-bounce);

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--mrd-color-background-on-base);
    opacity: var(--mrd-copy-button-hover-opacity, 0);
  }

  &:hover {
    --mrd-copy-button-hover-opacity: 0.08;
  }

  &:focus-visible,
  &:active {
    --mrd-copy-button-hover-opacity: 0.12;
  }

  &:focus-visible {
    outline: var(--mrd-color-primary-base) solid 2px;
    outline-offset: 2px;
  }
}
